* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, rgb(182, 36, 79), rgb(57, 32, 97));
    position: relative;
}

.reminder {
    position: fixed;
    top: 0.2em;
    left: 0.5em;
    color: white;
    font-size: .8em;
}

.heading {
    position: absolute;
    top: 6em;
    color: white;
    font-size: 1.8em;
}

.box {
    position: absolute;
    top: 15em;
    display: flex;
}

#input {
    padding: 0 10em;
    outline: none;
    text-align: center;
    border-radius: 3px;
    border: none;
}

#previous_guesses {
    position: absolute;
    top: 18em;
    color: white;
}

#btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 1em;
    background: linear-gradient(to right, rgb(182, 36, 79), rgb(57, 32, 97));
    outline: none;
    color: white;
    width: 100px;
    height: 30px;
}

.Active,
#btn:active {
    opacity: 0.7;
}

#input:invalid~#btn[type="submit"] {
    pointer-events: none;
    opacity: 0.5;
}

#input_result {
    position: absolute;
    top: 22em;
    font-weight: 600;
    color: white;
}

@media screen and (max-width: 660px) {
    .heading {
        top: 4em;
        text-align: center;
        margin: 0 3em;
    }

    #input_result {
        text-align: center;
        margin: 0 3em;
    }

    #input {
        padding: 0 7em;
    }
}

@media screen and (max-width: 490px) {
    .reminder {
        font-size: 0.6em;
    }

    .heading {
        font-size: 1.5em;
        top: 3em;
        margin: 0 2em;
    }

    .box {
        gap: 1em;
        align-items: center;
        flex-direction: column;
        top: 10em;
    }

    #input {
        padding: 0.5em 4em;
        margin: 0 1em;
    }

    #previous_guesses {
        top: 16em;
    }

    #input_result {
        top: 18em;
        margin: 0 2em;
    }

    #input_result {
        margin: 0 2em;
    }
}